openapi: 3.0.0
info:
  title: Circle API
  version: '1.0.0'
servers:
  - url: 'https://api.circle.io'
    description: Circle production base url
security:
  - ApiKeyAuth: []
tags:
  - name: Accounts
    description: "Endpoints related to getting details about trading accounts"
paths:
  /v1/businessAccount/balances:
    get:
      security:
        - bearerAuth: []
      summary: Get balance.
      description: Retrieves the balance of merchant funds that have settled and also of funds that have been sent for processing but have not yet settled.
      operationId: getBalances
      tags:
        - Accounts
      responses:
        '200':
          description: Successfully retrieved balances.
          headers:
            schema:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalancesResponse"
        '401':
          description: The request has not been applied because it lacks valid authentication credentials.
          headers:
            schema:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  headers:
    X-Request-Id:
              description: Unique identifier for the request. Helpful for identifying a request when communicating with Circle support.
              schema:
                type: string
                example: "2adba88e-9d63-44bc-b975-9b6ae3440dde"
  schemas:
    Balances:
      type: object
      required:
        - available
        - unsettled
      properties:
        available:
          description: List of currency balances (one for each currency) that are currently available to spend.
          type: array
          items:
            $ref: "#/components/schemas/Money"
        unsettled:
          description: List of currency balances (one for each currency) that have been captured but are currently in the process of settling and will become available to spend at some point in the future.
          type: array
          items:
            $ref: "#/components/schemas/Money"
    BalancesResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          schema:
            $ref: "#/components/schemas/Balances"
    Money:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          description: "Magnitude of the amount, in units of the currency, with a `.` decimal."
          type: string
          example: "3.14"
        currency:
          description: "Currency code."
          type: string
          example: "USD"
    Error:
      type: object
      required:
          - code
          - message
      properties:
          code:
            type: integer
            example: 400
          message:
            type: string
            example: "Something went wrong."
